* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

body {
    background-color: rgb(252, 221, 242);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

h1{
    margin-top: 25vh;
    margin-bottom: 1.5%;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 400px;
    height: 90%;
    max-height: 800px;
}

input, select {
    padding: 25px;
    font-size: 1em;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
}

.result{
    width: 63.7%;
}

select{
    width: 31.3%;
    color: #fff;
    background-color: rgb(129, 85, 155);
}

.calculatorButtons input{
    width: 31.3%;
}

.moneyAmount, .calculatorButtons, button{
    margin-top: 3px;
}

input[type="button"]:active {
    background-color: rgb(37, 35, 59);
    color: #fff;
}

button {
    border: none;
    background-color: rgb(41, 38, 38);
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.bottom-buttons {
    float: left;
    margin-left: 1.5%;
    margin-top: 0.7%;
}
