* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

body {
    background-color: rgb(252, 221, 242);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    padding: 0;
    margin: 0;
}


.container {

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-height: 800px;
    width: 90%;
    max-width: 400px;
}

h1{
    color: #fff;
    text-align: center;
}


input, select {
    padding: 25px;
    font-size: 1em;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
}

.result{
    width: 64.6%;
}

select{
    width: 31.3%;
    color: #ffffff;
    background-color: rgb(129, 85, 155);
}

.calculatorButtons input{
    width: 31.3%;
}

.calculatorButtons, .moneyAmount{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.moneyAmount, .calculatorButtons, button{
    margin-top: 3px;
}

input[type="text"] {
    background-color: rgb(255, 255, 255);
}

input[type="button"]:active {
    background-color: rgb(37, 35, 59);
    color: #fff;

}

button{
    display: flex;
    border: none;
    background-color: rgb(41, 38, 38);
    padding: 10px;
    color: white;
    border-radius: 4px;
}

#bankFeeSelector{
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
    height: 100%;
}

#bank{
    display: flex;
    flex-direction: row;
    border: none;
    background-color: rgb(181, 150, 203);
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 98%;
    float: left;
    margin-left: 1.2%;
    margin-top: 0.7%;
    margin-bottom: 1%;
}